@media (max-width:768px) {
    .header {
        justify-content: space-around;
    }

    .header .location {
        display: none;
    }

    .header .logo {
        width: 10%;
    }

    .header .logo img {
        width: 90%;
    }

    .search-group {
        width: 55%;
    }

    .header .account {
        display: none;
    }

    .header .order {
        display: none;
    }

    .header-list span,
    p {
        font-size: 1.8vw;
    }
    .header .lang img{
        margin: 0 2px;
    }
    .header .cart{
        width: 10%;
        
    }
    .header .cart i{
        display: flex;
        align-items: center;
    }
    .cart i::after{
        top: 0;
    }










    /******************************************************************
    * Here our second header 
    *******************************************************************/

    .header-two ul {
        overflow-x: scroll;
        font-size: 1.5vw;
    }

}

@media (max-width:576px) {
    .header {
        justify-content: space-around;
    }

    .header .logo {
        width: 10%;
    }

    .header .logo img {
        width: 90%;
    }

    .search-group {
        width: 65%;
    }

    .header-list span,
    p {
        font-size: 1.8vw;
    }
    .header .lang{
        width: 10%;
    }
    .header .lang img{
        width: 100%;
    }
    .header .lang:hover{
        border: none;
    }
    .header .lang span{
        display: none;
    }
    .header .cart{
        width: 10%;
        
    }
    .header .cart i{
        font-size: 100%;
        display: flex;
        align-items: center;
    }
    .header .cart span{
        display: none;
    }
    .cart i::after{
        top: 5px;
    }









    .header-two ul{
        display: none;
    }
    .header-two .sec-bar{
        display: inline-block;
        margin: 0 10px;
        
    }
    .header-two{
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
       
    }
    .header-two .account2 {
        display: inline-block;
        color: white;
        position: absolute;
        right: 10px;
      
    }

.copyright p,span{
    font-size: 12px !important;
}

}



@media (max-width:450px) {
    .header {
        justify-content: space-between;
        align-items: start;
        min-height: 90px;
       
        
    }

    .header .logo {
        width: 35%;
       margin-right: auto;
       
     
    }

    .header .logo img {
        width: 50%;
    }

    .search-group {
        width: 100%;
       order: 4;
    }

    .header-list span,
    p {
        font-size: 1.8vw;
    }
    .header .lang{
   margin-right: 20px;
        width: 10%;
    }
    .header .lang img{
        width: 100%;
    }
    .header .lang:hover{
        border: none;
    }
    .header .lang span{
        display: none;
    }
    .header .cart{
        width: 15%;
        
    }
    .header .cart i{
        font-size: 100%;
        display: flex;
        align-items: center;
    }
    .header .cart span{
        display: none;
    }
    .cart i::after{
        top: 5px;
    }
  









    .header-two ul{
        display: none;
    }
    .header-two .sec-bar{
        display: inline-block;
        margin: 0 10px;
        
    }
    .header-two{
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
       
    }
    .header-two .account2 {
        display: inline-block;
        color: white;
        position: absolute;
        right: 10px;
      
    }


    .banner {
        height: 120px !important;
        z-index: -1;
    }
    
    
    .carousel-control-prev {
        width: 10%;
        height: 40%;
        background-color: rgba(255, 255, 255, 0.305);
    }
    
    .carousel-control-next {
        width: 10%;
        height: 40%;
        background-color: rgba(255, 255, 255, 0.305);
    }

    
}

















