* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: amazon1;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

@font-face {
    font-family: amazon1;
    src: url(fonts/pDxWAF1pBB0dzGB.ttf);
}


/******************************************************************
* Here our header part starts 
*******************************************************************/

.header {

    background-color: #131921;
    min-height: 60px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}

.header-list span,
p {
    font-size: 1vw;
    margin: 0 0;
}

.header-list {
    min-height: 60px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/******************************************************************
* Here our logo & location css
*******************************************************************/
.header .logo {
    width: 7%;
    height: 100%;
}

.logo:hover {
    border: solid white 1px;
}

.logo img {
    width: 100%;
    height: 100%;
}

/*** location  *****/

.location {
    width: 10%;
    height: 100%;

}

.locaicon {
    display: flex;
    justify-content: left;
    align-items: end;


}

.location:hover {
    border: solid white 1px;
}

.locaicon i {
    padding: .9vw 0;
}

.location p {
    font-size: .7vw;
    color: #D4D4D4;
}

.location a p {
    font-size: .8vw;
}

/******************************************************************
* Here our search group  
*******************************************************************/

.search-group {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.search-group input,
i,
select {
    height: 35px;
    outline: none;

}

.search-group i {
    background-color: #F3A847;
    width: 10%;
    padding: 10px;
    color: #131921;
    border-radius: 0 5px 5px 0;

}

.search-group input {
    width: 90%;
    padding-left: 10px;
    border: none;
}

.search-group select {
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    background-color: #D4D4D4;
}


/******************************************************************
* Here our language and sign account part css 
*******************************************************************/

.header .lang {
    width: 7% !important;
    height: 100% !important;
}

.header .lang:hover {
    border: solid white 1px;
}

.header .lang li a:hover {
    background-color: #d4d4d4;
}

.btn {
    border: none !important;
    border-color: none !important;
}

.header .account {

    line-height: 1.2;
    width: 8%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .account p {
    padding: 0 0;
    margin: 0 0 !important;
    font-size: .9vw;
}

.header .account:hover {
    border: solid white 1px;
}

.header .account span {
    font-size: 1vw;
}





/******************************************************************
* Here our orders and cart css start  
*******************************************************************/

.header .order,
.cart {
    width: 5%;
    height: 100%;
}

.header .order {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.header .order:hover {
    border: solid white 1px;
}

.header .cart i {
    font-size: 2vw;
    position: relative;
    display: flex;
    align-items: center;
}

.header .cart:hover {
    border: solid white 1px;
}

.cart i::after {
    content: "0";
    color: #F3A847;
    position: absolute;
    font-size: 1.3vw;
    top: -10px;
    right: 5px;
}




/******************************************************************
* Here our header two css start 
*******************************************************************/

.header-two {
    width: 100%;
    min-height: 50px;
    height: auto;
    background-color: #232F3E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-two ul {
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    list-style: none;
    font-size: 1vw;
    padding: 0 0;
    margin: 0 0;
}

.header-two ul li {
    min-height: 50px;
    height: auto;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;


}

.header-two ul li a {
    text-decoration: none;
    color: white;
}

.header-two ul li:hover {
    border: solid white 1px;
}

.header-two .sec-bar {
    display: none;
    color: white;
    font-size: 5vw;

}

.header-two .account2 {
    display: none;

}

/*
 * here start sidenav
 */

.sidenav {
    display: none;
    position: fixed;
    width: 70%;
    min-height: 100vh;
    height: auto;
    background-color: #3c4d628f;
    ;
    backdrop-filter: blur(5px);
    z-index: 10;
    top: 0;
    left: 0;



}


.cross {
    padding: 10%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.cross .cross2 {
    color: white;
    font-size: 30px;
}

.cross .bag {
    color: #ffffff !important;
   
}



.sidenav .singup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.cross2:hover {
    background-color: rgba(255, 255, 255, 0.338);
}

.singup-container p {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin: 5px 0;

}

.singup-container a {

    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: #232F3E;
    padding: 10px 10px;
    border-radius: 5px;
}

.singup-container i {
    text-decoration: none;
    color: white;
    font-size: 100px;
    margin: 10px 0;
    height: auto;
    width: auto;

}


.singup-container .update {
    font-size: 15px;
    background-color: #3c4d6200;

}

.singup-container .update:hover {
    text-decoration: underline 2px;
}

.singup-container .sing-up:hover {
    background-color: #485769;
}


/******************************************************************
* Here our banner work starts 
*******************************************************************/

.banner {
    height: 300px !important;
    z-index: -1;
}


.pre {
    z-index: 3;
    width: 10%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.305);
}

.nex {
    z-index: 3;
    width: 10%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.305);
}




/******************************************************************
* Here our first shop list group start 
*******************************************************************/

.shop-list1 {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);

}

.shop-list1 .shop-img {

    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.shop-list1 .shop-img .img-1 {
    width: 45%;
    margin: 5px 0;

}

/******************************************************************
* Here our shop list start 
*******************************************************************/











/******************************************************************
* Here our footer work start 
*******************************************************************/

.footer {
    background-color: #232F3E;
    color: white !important;
}

.upper {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #485769;
    color: white;
}

.upper a {
    text-decoration: none;
    color: white;
}

.copyright {
    min-height: 30px;
    height: auto;
    width: 100%;
    text-align: center;
}

.copyright p,
span {
    font-size: 16px;
}


/******************************************************************
* Here our auto shop list start 
*******************************************************************/

.auto-shop-list {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
}

.auto-shop-list-img {}

.auto-shop-list-img span {
    background-color: red;
    color: white;
    padding: 5px;

}