* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: amazon1;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: amazon1;
    src: url(fonts/pDxWAF1pBB0dzGB.ttf);
}


/******************************************************************
* Here our header part starts 
*******************************************************************/

.header {

    background-color: #131921;
    min-height: 60px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}

.header-list span,
p {
    font-size: 1vw;
    margin: 0 0;
}

.header-list {
    min-height: 60px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/******************************************************************
* Here our logo & location css
*******************************************************************/
.logo {
    width: 7%;
    height: 100%;
}

.logo:hover {
    border: solid white 1px;
}

.logo img {
    width: 100%;
    height: 100%;
}

/*** location  *****/

.location {
    width: 10%;
    height: 100%;

}

.locaicon {
    display: flex;
    justify-content: left;
    align-items: end;


}

.location:hover {
    border: solid white 1px;
}

.locaicon i {
    padding: .9vw 0;
}

.location p {
    font-size: .7vw;
    color: #D4D4D4;
}

.location a p {
    font-size: .8vw;
}

/******************************************************************
* Here our search group  
*******************************************************************/

.search-group {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.search-group input,
i,
select {
    height: 35px;
}

.search-group i {
    background-color: #F3A847;
    width: 10%;
    padding: 10px;
    color: #131921;
    border-radius: 0 5px 5px 0;

}

.search-group input {
    width: 90%;
    padding-left: 10px;
    border: none;
}

.search-group select {
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    background-color: #D4D4D4;
}


/******************************************************************
* Here our language and sign account part css 
*******************************************************************/

.header .lang {
    width: 7% !important;
    height: 100% !important;
}

.header .lang:hover {
    border: solid white 1px;
}

.btn {
    border: none !important;
    border-color: none !important;
}

.header .account {

    line-height: 1.2;
    width: 10%;
    height: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;

}

.header .account p {
    padding: 0 0;
    margin: 0 0 !important;
    font-size: .8vw;
}

.header .account:hover {
    border: solid white 1px;
}

.header .account span {
    font-size: .8vw;
}





/******************************************************************
* Here our orders and cart css start  
*******************************************************************/

.header .order,
.cart {
    width: 5%;
    height: 100%;
}

.header .order {
    line-height: 1;
}

.header .order:hover {
    border: solid white 1px;
}

.header .cart i {
    font-size: 2vw;
    position: relative;
    display: flex;
    align-items: center;
}

.header .cart:hover {
    border: solid white 1px;
}

.cart i::after {
    content: "0";
    color: #F3A847;
    position: absolute;
    font-size: 1.3vw;
    top: -10px;
    right: 5px;
}




/******************************************************************
* Here our header two css start 
*******************************************************************/

.header-two {
    width: 100%;
    height: 50px;
    background-color: #232F3E;
}

.header-two ul {
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    list-style: none;
    font-size: 1vw;
    padding: 0 0;
    margin: 0 0;
}

.header-two ul li {
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

.header-two ul li a {
    text-decoration: none;
    color: white;
}

.header-two ul li:hover {
    border: solid white 1px;
}

.header-two .sec-bar {
    display: none;
    color: white;
    font-size: 5vw;
}

.header-two .account2 {
    display: none;
}






/******************************************************************
* Here our banner work starts 
*******************************************************************/

.banner {
    height: 300px !important;
    z-index: -1;
}


.pre {
    z-index: 3;
    width: 10%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.305);
}

.nex {
    z-index: 3;
    width: 10%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.305);
}




/******************************************************************
* Here our first shop list group start 
*******************************************************************/

.shop-list1 {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);

}

.shop-list1 .shop-img {
   
flex-direction: row !important;
flex-wrap: wrap;
justify-content: space-evenly;


}

.shop-list1 .shop-img .img-1 {
    width: 45%;
    margin: 5px 0;

}

/******************************************************************
* Here our shop list start 
*******************************************************************/











/******************************************************************
* Here our footer work start 
*******************************************************************/

.footer{
    background-color: #232F3E;
    color: white !important;
}
.upper{
    width: 100%;
    height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
  background-color: #485769;
  color: white;
}

.copyright {
    min-height: 30px;
    height: auto; 
    width: 100%; 
    text-align: center;
}
.copyright p,span{
    font-size: 16px;
}